.overlay-div {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:999;
}



.my-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltiptext {
    font-size: 8px;
    visibility: hidden;
    width: 50px;
    background-color: #444444;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 2;
    position: absolute;
    cursor: pointer;
}
.tooltiptext.top{
  /* Position the tooltip */
  /* margin-left determin position : center =>width/2 */
  bottom: 100%;
  left: 50%;
  margin-left: -25px;
}
.tooltiptext.right{
  bottom: 100%;
  left: 50%;
  margin-left: 0px;
}
.tooltiptext.bottom-right{
  bottom: -200%;
  left: 50%;
  margin-left: 0px;
}
.tooltiptext.left{
  bottom: 100%;
  left: 50%;
  margin-left: -50px;
}
.tooltiptext.bottom-left{
  bottom: -200%;
  left: 50%;
  margin-left: -50px;
}
.my-tooltip:hover .tooltiptext {
    visibility: visible;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: unset;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}


#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
  top: 0;
  width: 100%;
  /* z-index: 150; */
}
#navbar > li {
  float: left;
}
li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'sans-serif';
  font-weight: bold;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #e5e5e5;
}
menu > a {
  display: block;
  color: #28A745 !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'sans-serif';
  font-weight: bold;
  font-size: 20px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.div-inline{
  display: inline-flex;
  margin: 0 auto;
}
.display-grid{
  display: grid;
}
.display-error{
  height:85vh;
}
.display-title{
  height: 156px;
  white-space: nowrap;
}
.display-logo{
  width: 75%;
  display: inline-block;
  text-align: center;
  padding-left: 28%;
}
.display-button{
  display: inline-block;
  padding-left: 10%;
}
.display-grid-blank-20{
  display: grid;
  height: 20px !important;
}
.display-grid-blank-40{
  display: grid;
  height: 40px !important;
}
.display-grid-blank-60{
  display: grid;
  height: 60px !important;
}
.display-list{
  display: contents;
}
.display-col-list{
  display: flex;
}
.list-overflow{
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.background-fusion{
  background: black !important;
}
.background-Mobile {
  background: black !important;
}
.div-left{
  float:left;
}
.div-right{
  float: right;
}
.bottom-footer{
  position: fixed;
  bottom:0;
  width:100%;
  z-index: 1020;
  background-color: #000000;
}
#designedBy > a{
  font-family: sans-serif;
  font-size: 100%;
  color: #FFFFFF;
}

.slogan-h1{
  font-size: 70px;
  color:#24e959;
  font-family: 'sans-serif';
}
.slogan-h2{
  color:#ffffff;
  font-family: 'sans-serif';
  margin-top:15px;
}
.logo-size{
  width: 480px;
  margin: 25px auto 0px auto;
}
.logo-size-header{
  width: 30px;
}



.square{
  width: 10px;
  height: 10px;
  background: white;
  transition: transform .2s;
  margin: 0 0;
  border:solid 0.2px black !important;
  display: inline-block;
}
.square:hover {
  transform: scale(2.0);
  z-index: 3;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



.button-fixed{
  position: absolute;
  bottom: -35px;
  right: 4%;
  background-color: #24e959; /* Green */
  border: none;
  color: #ffffff;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-family: 'sans-serif';
  cursor: pointer;
  vertical-align: text-bottom;
  border-radius: 0%;
  box-shadow: 4px 4px 4px  #158B35;
}
button#btn-buy:hover{
  box-shadow: 0 0;
}
button#btn-buy:active{
  background-color: #19A33E;
  color:#e5e5e5;
}
button#btn-buy:focus {
  outline: none;
  box-shadow: none;
}



.error-page-font{
  font-family: sans-serif;
  color: #000000;
  font-size: 52px;
  font-display: swap;
}
.text-appear {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.blink-image {
    padding-bottom: 1.5%;
    -moz-animation: blink normal 1s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 1s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 1s infinite ease-in-out; /* IE */
    animation: blink normal 1s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

/* da usare con overflow-auto e mx-auto */
.div-container-square{
  width: 1520px;
  height: 2808;
  max-width: 100%;
  max-height: 100%;
}
.span-rows-square{
  display: inline-grid;
}
.span-cols-square{
  display: inline-flex;
}
.span-square{
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  transition: transform .2s;
  margin: 0 auto;
  border:solid 0.2px black !important;
  display: inline-block;
}
.span-square:hover {
  transform: scale(2.0);
  z-index: 3;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.border-input{
  border:none !important;
  padding: 0 0 0 0;
}

.border-input:focus{
  box-shadow: none;
  background: #f7f7f7;
  background-color: #f7f7f7;
  border: none;
}

.border-input:active{
  background: #f7f7f7;
  background-color: #f7f7f7;
  border: none;
}


.GridSquare {
}

.GridSquareItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border: 0.5px solid #000000;
}

.GridSquareItem:hover .tooltiptext {
    visibility: visible;
}

.btn-success {
  width: 35%;
  margin-bottom: .8rem;
}

.nav-bar-link {
  float: left;
  display: inline-flex;
}

li.active-nav-bar a {
  color: #FFFFFF !important;
}

/*----------------------------------------------------------------------------*/
/* ---------------------------- CONTACT FORM ---------------------------------*/
.container-form{
  width: 50%;
  min-width: 270px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 2%;
  margin-top:1%;
}
.form-title{
  display: block;
  width: 100%;
  font-family: Montserrat-Black;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'sans-serif';
  font-weight: 'bold';
}
.form-input{
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 13px;
  padding: 3px 0 0 8px;
  margin-bottom: 0px;
  background-color: #f7f7f7;
}
.form-input2{
  display: block;
  width: 100%;
  height: 27px;
  background: transparent;
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding-right: 15px;
}
.btn-contact{
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #28a745;
    border-radius: 25px;
    font-family: Montserrat-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    transition: all 0.4s;
    border-color: #28a745;
}

.btn-contact:hover{
  background-color: #28a745;
  border-color: #28a745;
}


/*----------------------------------------------------------------------------*/
/* ------------------------------ BUY FORM -----------------------------------*/
.div-buy{
  margin-top: 2%;
  margin-bottom: 2% !important;
}
.card-container{
  font-weight: 400;
  border: 0;
  box-shadow: 0 0px 6px 0 white, 0 0px 5px 0 white;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
}
.card-body{
  text-align: center;
  border-radius: 0 !important;
  flex: 1 1 auto;
  min-height: 1px;
}
.grey-text{
  text-align: left;
  white-space: break-spaces;
  line-height: revert;
}
.btn-checkout{
  width: 100%;
  height: 60px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.6rem;
}
.span-price{
  padding-top: 0.2%;
  padding-left: 6%;
  font-size: 20px;
}
.qt-plus-minut{
  width: 11.8rem;
  margin: auto;
}
.qt-input{
  height: 100%;
  text-align: center;
  max-width: 5rem;
  padding: .5rem;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  outline: none;
  vertical-align: sub;
}

/*----------------------------------------------------------------------------*/
/* ------------------------------- SIDEBAR -----------------------------------*/
.vertical-bar {
  height: 85vh;
  width: 99vw;
  margin-bottom: 2%;
  margin-top: 1.5%;
  padding-left: 1.5%;
}
.background-v-nav {
  background: #080706;
}
.ul-v-bar {
  width: 100%;
}
.btn-v-bar {
  margin-left: 40%;
}
li.active-v-bar a {
  color: #28a745;
}

.container-v-bar{
  padding: 0;
}

/*----------------------------------------------------------------------------*/
/* ------------------------------ LOGIN FORM ---------------------------------*/

.label-underline-link {
  font-size:0.8rem;
  color:#333;
  cursor:pointer;
}

.label-underline-link:hover {
  text-decoration: underline;
  color:#FFFFFF;
  cursor:pointer;
}

/*----------------------------------------------------------------------------*/
/* ------------------------------ PIXELS FORM ---------------------------------*/

.position-label{
  text-align: right;
  cursor: pointer;
  padding: .375rem .25rem;
}
.position-label::after{
  left:0 !important;
  right:unset !important;
}
.label-border-red{
  border-color: #dc3545 !important
}
.label-border-none{
  border-color: unset !important
}

/*----------------------------------------------------------------------------*/
/* --------------------------- PIXELS HOME PAGE ------------------------------*/

.image-pixeled {
  cursor: pointer;
  margin: 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 10px;
  height: 10px;
  display: table-cell;
}

.pixelated-spinner:empty{
  margin-left: 50%;
  margin-top: 10%;
  width: calc(70px / 7);
  height: calc(70px / 7);
  background-color: #28a745;
  color: #28a745;
  box-shadow: 15px 15px  0 0,
              -15px -15px  0 0,
              15px -15px  0 0,
              -15px 15px  0 0,
              0 15px  0 0,
              15px 0  0 0,
              -15px 0  0 0,
              0 -15px 0 0;
  animation: pixel-spinner-animation 1500ms linear infinite;
}

@keyframes pixel-spinner-animation {
  50% {
    box-shadow: 20px 20px 0px 0px,
                -20px -20px 0px 0px,
                20px -20px 0px 0px,
                -20px 20px 0px 0px,
                0px 10px 0px 0px,
                10px 0px 0px 0px,
                -10px 0px 0px 0px,
                0px -10px 0px 0px;
  }
  75% {
    box-shadow: 20px 20px 0px 0px,
                -20px -20px 0px 0px,
                20px -20px 0px 0px,
                -20px 20px 0px 0px,
                0px 10px 0px 0px,
                10px 0px 0px 0px,
                -10px 0px 0px 0px,
                0px -10px 0px 0px;
  }
  100% {
    transform: rotate(360deg);
  }
}

/*----------------------------------------------------------------------------*/
/* ------------------------------ TERMS PAGE ---------------------------------*/
.terms-page{
  background-color: #FFFFFF;
  width: 60%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.terms-page li{
  font-size: .8rem;
  padding-left: 3%;
}

.terms-page span{
    font-family: Poppins-Regular,sans-serif;
    font-size: 1.0rem;
}

.terms-page a{
  font-family: Poppins-Regular,sans-serif;
  font-size: inherit;
}

/*----------------------------------------------------------------------------*/
/* ------------------------------ HOW WORK PAGE ---------------------------------*/
.bodyWork{
  margin:0 5%;
  color:#FFFFFF;
  overflow-x: hidden;
  box-sizing: border-box;
}

.animate__delay-400ms {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
  -webkit-animation-delay: 400ms;
  animation-delay:  400ms;
}

.animate__delay-600ms {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
  -webkit-animation-delay: 600ms;
  animation-delay:  600ms;
}

.animate__delay-800ms {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
  -webkit-animation-delay: 800ms;
  animation-delay:  800ms;
}

.a-animated{
  font-family: Poppins-Regular,sans-serif;
  font-size: inherit;
  color: #FFFFFF;
}
